body{
  font-weight: 300;
  background-color: #a36f61;
  font-family: 'Smythe', cursive;
}
a{
  text-decoration: none;
  color:inherit;
} 
body,h6,h4,h1,p,div,img{
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container{
  width: 600px;
  margin: 0 auto;
  background-color: #F5F5F5;
}
.completeClicked{
  background-color: #dedede;
}
.header{
  color: white;
  width: 600px;
  height: 163px;
  position: relative;
}
.header img{
  width: 100%;
  height: 163px;
}
.header h1{
  font-size: 35px;
  margin: 0;
  font-weight: 300;
}
.diner{
  position: absolute;
  top: 43px;
  left: 50px;
}
.header p{
  font-size: 23px;
  line-height: 13.5px;
  margin-top: 20px;
}
.nav{
  padding: 50px;
  position: relative;
}
.menu-items{
  display: flex;
  color: #000;
  height: 200px;
  border-bottom: 1px solid #D2D2D2;
  padding-top: 50px;
  
}
.item-icon{
  font-size: 80px;
  line-height: 100px;
  margin-right: 40px;
}
.item-name{
  font-size: 30px;
  line-height: 17px;
  font-weight: 400;
}
.ingredients{
  color: #8B8B8B;
  font-size: 17px;
  line-height: 24px;
}
.price{
  font-size: 20px;
  line-height: 24px;
  margin-top: 15px;
  font-weight: 400;
}
.add-order{
  margin-left: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #DEDEDE;
  background-color: #F5F5F5;
  cursor: pointer;
  font-size: 32px;
  line-height: 24px;
  text-align: center;
  color: #3C3C3C;
  
}
.shoppingCard{
  height: 400px;
  color: #000;
  line-height: 16.8px;
  height: max-content;
  margin-top: 45px;
}
.card-header{
  font-size: 30px;
  text-align: center;
  padding-bottom: 64px;
}
.bought-items{
  display: flex;
  justify-content: left;
  margin-top: 22px;
}
.item-name{
  font-size: 28px;
}

.remove{
  color:#BBBBBB;
  border: none;
  background: none;
  cursor: pointer; 
  margin-left: auto;
}
.item-price{
  font-size: 20px;
  margin-left: auto;
  line-height: 24px;
}
.total-price{
  border-top: 2px solid #393939;
  width: inherit;
  height: max-content;
  padding-top: 15px;
  justify-content: space-between;
  display: flex;
  font-size: 28px;
  margin: 30px 0 60px 0;
}
.sum{
  display: inline-block;
  font-size: 20px;
}
.complete{
  width: 508px;
  height: 60px;
  background-color:#16DB99;
  border: none;
  border-radius: 3px;
  color: #ffff;
  font-style: bold;
  line-height: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}
.inactive{
  cursor: not-allowed;
}
.card-details{
  display: none;
  width: 524px;
  height: 542px;
  background-color: #ffff;
  position: fixed;
  text-align: right;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000;
  font-weight: bold;
  font-size: 24px;
  padding: 10px 25px;
  border-radius: 5px;
}
.close-btn{
  margin-left: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #DEDEDE;
  background-color: #16DB99;
  cursor: pointer;
  text-align: center;
  color: #fff;
}
.close-btn:hover{
  background-color: #070101;
  color: #ee0a0a;
}
.card-details input{
  display: block;
  width: 420px;
  height: 42px;
  outline: none;
  margin:  23px auto 23px  auto;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  padding: 15px 20px;
}
.card-details form{
  text-align: center;
}
.pay{
  width: 476px;
  height: 72px;
  border: none;
  background-color: #16DB99;
  border-radius: 5px;
  font-size: 20px;
  line-height: 31px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}
.pay:hover{
  opacity: 0.5;
}
.thankYou{
  display: none;
  width: relative;
  height: relative;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #F5F5F5;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  
}
.thankYou button{
  border: none;
  height: 60px;
  cursor: pointer;
  text-decoration: none;
}
.stars{
  display: block;
  position: relative;
  gap: 15px;
  margin: 25px;
}

.checked{
  color: gold;
}
.fa-star{
  display: inline;
  font-size: 2.5rem;
  cursor: pointer;
}
.rate{
  margin: 50px 0;
  height: 100px;
  width: 100px;
  text-align: center;
  background-color: #a36f61;
  color: #F5F5F5;
  font-size: 2rem;
  border-radius: 50%;
}
.afterRate{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
}
.home{
  background-color: #16DB99;
  width: 508px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  height: 50px;
  color: #dedede;
  border: none;
  border-radius: 20px;
  
  font-size: 1.5rem;
}